@font-face {
  font-family: "Noto Sans KR Light";
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format("opentype");
}
html {
  overflow: hidden;
}
body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr 60px;
  background-color: #555555;
  transition: 0.25s;
  background-image: url(img/particle.jpg);
  background-size: 100%;
  background-position: center;
  background-blend-mode: multiply;
}
.searchZone {
  text-align: center;
  color: white;
  margin: 0;
}
.searchBar {
  outline: none;
  border: none;
  padding: 5px 10px;
}
.main {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  overflow: hidden;
}
.mouseoverZone {
  width: 100%;
  height: 500px;
  position: relative;
  display: inline-block;
  filter: opacity(85%);
}
.mouseoverZone:nth-child(1) {
  margin-top: 10vh;
  background-image: url(img/goLeft.png);
  background-size: 45px;
  background-position: center;
  background-repeat: no-repeat;
}
.mouseoverZone:nth-child(3) {
  margin-top: 10vh;
  background-image: url(img/goRight.png);
  background-size: 45px;
  background-position: center;
  background-repeat: no-repeat;
}

.adZone {
  overflow-y: hidden;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(7, 25vw);
  /* height: 80vh; */
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff00;
}
.adZone::-webkit-scrollbar {
  display: none;
}

.adMother {
  width: 70%;
  height: 100%;
  display: inline-block;
  background-color: #e0e0e0;
  margin: 0 auto;
  text-align: center;
}
.adMother:nth-child(2) {
  background-color: #e0e0e0;
}

.adMother:nth-child(3) {
  width: 80%;
  height: 70%;
  margin-top: 25vh;
}
.adMother:nth-child(4) {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  box-shadow: 0 0 40px 10px #505050;
}
.adMother:nth-child(4) div {
  background-image: url(img/ad.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.1s;
  cursor: pointer;
}
.adMother:nth-child(4) div:hover {
  background-size: 52%;
  filter: brightness(107.5%);
}
.adMother:nth-child(5) {
  background-color: #e0e0e0;
  width: 75%;
  /* height: 80%; */
  margin-top: 15vh;
}

.adMother:nth-child(6) {
  background-color: #e0e0e0;
}
.fixedAD {
  background-color: #464646;
  margin: 0 auto;
  width: 80vw;
  color: #f7f7f7;
  text-align: right;
  text-shadow: 0px 0px 20px #ffffff;
  font-family: "Noto Sans KR Light";
  font-size: 12px;
  padding-right: 10px;
}
@media (max-width: 700px) {
  body {
    margin: 0;
  }
  .adZone {
    grid-template-columns: 25vw repeat(5, 50vw) 25vw;
    height: 100vh;
    width: 100%;
  }
  .mouseoverZone {
    display: none;
  }
  .main {
    display: block;
  }
  .fixedAD {
    margin: 0;
    width: 100%;
  }
}
